.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cell {
  flex: 0 0 14%;
  height: 12vh;
  margin-bottom: 5px;
  background-color: #999;
}

.x {
  background-color: red;
}
.o {
  background-color: blue;
}
